# EditorConfig
# https://editorconfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Application manifests
[*.manifest]
indent_size = 2

# C#
[*.cs]
guidelines = 79, 159

# Markdown
[*.md]
trim_trailing_whitespace = false

# MSBuild configurations
[*.{props,targets}]
indent_size = 2

# ReSharper configuration
[*.{DotSettings,DotSettings.user}]
charset = utf-8-bom
indent_style = tab
insert_final_newline = false

# Visual Studio projects
[*.*proj{,.user}]
charset = unset
indent_size = 2
insert_final_newline = false

# Visual Studio solutions
[*.slnx]
indent_size = 2

# YAML
[*.yml]
indent_size = 2

#######################################
### .NET Code Quality Analysis (CA) ###
#######################################

[*.cs]
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# Requires .NET Core 2.0+ / .NET 5+ / .NET Standard 2.1
dotnet_diagnostic.CA1307.severity = none

# Requires .NET 5+
dotnet_diagnostic.CA1872.severity = none
dotnet_diagnostic.CA2263.severity = none

# Requires .NET 6+
dotnet_diagnostic.CA1510.severity = none
