# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Application manifests
[*.manifest]
indent_size = 2

# C#
[*.cs]
guidelines = 79, 159

# Markdown
[*.md]
trim_trailing_whitespace = false

# MSBuild configurations
[*.{props,targets}]
indent_size = 2

# ReSharper configuration
[*.{DotSettings,DotSettings.user}]
charset = utf-8-bom
indent_style = tab
insert_final_newline = false

# Visual Studio projects
[*.*proj{,.user}]
charset = unset
indent_size = 2
insert_final_newline = false

# Visual Studio solutions
[*.sln]
charset = utf-8-bom
indent_style = tab

# YAML
[*.yml]
indent_size = 2


#######################################
### .NET Code Quality Analysis (CA) ###
#######################################

[*.cs]
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none
